.card__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  max-width: 960px;
  height: auto;
  transition: 0.3s;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #f1f6fd;
}

.card__container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-break: break-all;
}

.card__info__time {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.single_button {
  margin: 0.25rem;
}

.card__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  h4 {
    font-size: min(10vw, 1.25rem);
  }
  .card__buttons {
    padding-top: 1rem;
  }
}
