.dashboard__container {
  margin: 30px;
  width: 100vw;

  /* background-color: red; */
}
/* 
.dashboard__title {
} */

.dashboard__subtitle {
  margin: 20px;
}

.dashboard__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

  grid-gap: 20px;
  /* margin: 20px; */
}
