.dashboard__container {
  padding: 30px;
  width: 100vw;
}

.dashboard__medicine__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard__medicines {
  margin: 60px;
}
