.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 350px;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #354ba4;
  color: white;
}

.sidebar__title {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: center;
}

.sidebar__user {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar__name {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.sidebar__button {
  text-decoration: none;
  color: white;
}

.sidebar__button__container {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.sidebar__button__text {
  padding-left: 10px;
}

.sidebar__logout {
  position: fixed;
  bottom: 0px;
}
